div1{
    background: rgb(230, 109, 215);
   height: 50px;
   width: 1320px;
 }
 .div2{
  border: 8px solid #20E4F1;
   background: rgb(234, 241, 134);
   height: 300px;
   width: 300px;
   padding: 10px;
   border-bottom-left-radius:20%;
   border-bottom-right-radius:20%;
   margin: 10px;
 
   *{
   box-sizing:border-box;
   }
 
 
   body{
   margin:40;
   font-family: sans-serif;
   background:#aed581;
   }
 
   h1{
 
     color:#fff;
     text-aling:center;
 }
 .form-register{
     width:100%;
     max-width: 800px;
     margin: auto;
     background: white;
     border-radius: 7px;
 }
 .form_titulo{
     background: deepskyblue;
     color: #fff;
     padding: 20px;
     text-align: center;
     font-weight: 100;
     font-size: 30px;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     border-bottom: 15px solid crimson;
 }
 .contenedor-inputs{
     padding: 10px 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 input{
     margin-bottom: 30px;
     padding: 15px;
     font-size: 16px;
     border-radius: 3px;
     border: 1px solid darkgray;
 }
 .input-48{
     width: 48%;
 }
 .input-100{
     width: 100%;
 }
 .btn-enviar{
     background: crimson;
     color: #fff;
     margin: auto;
     padding: 10px 40px;
     cursor: pointer;
     font-size: 20px;
 }
 .btn-enviar:active{
     transform: scale(1.05);
 }
 .form_link{
     width: 100%;
     margin: 7px;
     text-align: center;
     font-size: 13px;
 }
 }
   .div1{
   background: #F9CEF4;
   height: 100px;
   width: 1080px;
 }
 
 
 
 .div2{
   border: 8px solid #20E4F1;
   background: #E470D8;
   height: 600px;
   width: 1030px;
   padding: 10px;
   border-bottom-left-radius:20%;
   border-bottom-right-radius:20%;
   margin: 10px;
 }
 
 img{
 border-bottom-left-radius:20%;
 border-bottom-right-radius:20%;
 } 
 
 
 
 .div3{
   border: 10px solid #20E4F1;
   background: white;
   height: 300px;
   float: left;
   width: 300px;
   padding: 10px;
   border-bottom-left-radius:30%;
   margin: 10px;
 }
 img{
   border-bottom-left-radius:20%;
 
    
 
 } 
 
 
 .div4{
   border: 10px solid #20E4F1;
   background: white;
   height: 300px;
   float: left;
   width: 300px;
   padding: 10px;
   border-left-radius:30%;
   margin: 10px;
 }
 
 img{
  border-left-radius:0%;
  
 } 
 
 
 .div5{
   border: 10px solid #20E4F1;
   background: white;
   height: 300px;
   float: right;
   width: 300px;
   padding: 10px;
   border-bottom-right-radius:30%;
   margin: 10px;
 }
 
 img{
  border-left-radius:30%;
 } 
 .div6{
   background: #F9CEF4;
   height: 100px;
   float:left;
   width: 1080px;
 
 
 }
 {
   box-sizing:border-box;
   }
 
 
 
 
 body{
     margin:40;
     font-family:sans-serif;
     background: #F9CEF4;
 }
 h1{
 
     color:#fff;
     text-aling:center;
 }
 .form-register{
     width:100%;
     max-width: 500px;
     margin: auto;
     background: white;
     border-radius: 7px;
 }
 .form_titulo{
     background: deepskyblue;
     color: #fff;
     padding: 20px;
     text-align: center;
     font-weight: 100;
     font-size: 30px;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     border-bottom: 5px solid crimson;
 }
 .contenedor-inputs{
     padding: 10px 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 input{
     margin-bottom: 15px;
     padding: 15px;
     font-size: 16px;
     border-radius: 3px;
     border: 1px solid darkgray;
 }
 .input-48{
     width: 48%;
 }
 .input-100{
     width: 100%;
 }
 .btn-enviar{
     background: crimson;
     color: #fff;
     margin: auto;
     padding: 10px 40px;
     cursor: pointer;
     font-size: 20px;
 }
 .btn-enviar:active{
     transform: scale(1.05);
 }
 .form_link{
     width: 100%;
     margin: 7px;
     text-align: center;
     font-size: 13px;
 }
 
 }
 
 .div3{
   border: 10px solid #20E4F1;
   background: white;
   height: 300px;
   float: left;
   width: 300px;
   padding: 10px;
   border-bottom-left-radius:30%;
   margin: 10px;
 }
 img{
   border-bottom-left-radius:20%;
 
    
 
 } 
 
 
 .div4{
   border: 10px solid #20E4F1;
   background: white;
   height: 300px;
   float: left;
   width: 300px;
   padding: 10px;
   border-left-radius:30%;
   margin: 10px;
 }
 
 img{
  border-left-radius:0%;
 } 
 
 
 .div5{
   border: 10px solid #20E4F1;
   background: white;
   height: 300px;
   float: right;
   width: 300px;
   padding: 10px;
   border-bottom-right-radius:30%;
   margin: 10px;
 }
 
 img{
  border-left-radius:30%;
 } 
 
 
 .div6{
   background: #F9CEF4;
   height: 100px;
   float:left;
   width: 1080px;
 
 
 }
 